/* Importar fuentes custom*/
@font-face {
    font-family: "yanone";
    src: url("../fonts/yanone.ttf");
}

@font-face {
    font-family: "finger";
    src: url("../fonts/finger.ttf");
}

@font-face {
    font-family: "titilium";
    src: url("../fonts/titilium.ttf");
}

/* Estilos generales */
*{
    margin: 0px;
    padding: 0px;

}

body {
    background: url("../img/pattern.png");
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background-attachment: fixed; /* Esto es necesario para cuando el usuario haga scroll, el fondo se quede en la posicion fijado */
}

.clearfix{
    float: none;
    clear: both;

}

/* Navigation bar */
header {
    display: block;
    width: 100%;
    height: 90px;
    background-color: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}

header ul {
    display: block;
    width: 29%;
    height: inherit; /* Significa que el padre tb lo hereda */
    margin: 0px auto;
}
header ul li {
    display: inline-block;
    margin: -3px auto 0 auto;
    text-align: center;
    line-height: 88px;
    
}

header a {
    display: block;
    padding: 0px 20px;
    height: inherit;
    text-decoration: none;
    color: #FFF;
    transition: all 300ms;
}

header a:hover,
        .activated {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Logotipo */
#logo {
    font-family: "finger";
    font-size: 30px;
}

#logo a {
    transition: 500ms all ease;
}

#logo a:hover {
    background-color: transparent;
    color: #000;
    transform: scale(1.75, 1.75);
    cursor: default;
}

/* Contenedor principal */
#content {
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px #000;
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 700px;
    padding-top: 120px;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
}

/* Pie de página */
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/* Sobre mi */
#title {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom:70px;
}

#title h1{
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid #ccc;
}

#title h2{
    font-size: 25px;
    color: #999;
    margin: 5px 0px;
}

article.about {
    width: 70%;
    margin: 0px auto 20px auto;
    font-size: 23px;
}

.about h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}

/* Formulario */
.container {
    padding: 10px 50px 50px 50px;
    
}

.container h2 {
    display: block;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form {
    width: 80%;
}

form label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type = "text"],
form input[type = "number"],
form input[type = "email"]
            form textarea {
    width: 40%;
    padding: 5px;

}

form button,
form input[type="submit"] {
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: #fff;
    background-color: rgba(53, 103, 164, 1);
    border: 1px solid rgba(16, 67, 133, 1);
    cursor: pointer;
    border-radius: 5px;

}

form button:hover,
form input[type="submit"]:hover {
    background-color: rgba(53, 103, 164, .8);
    border: 1px solid rgba(16, 67, 133, 1);

}

form input[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}

.form_error {
    color: #c80000;
    padding-left: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    font-style: italic;
    
}
