<header>
  <ul>
    <li>
      <a [routerLink]="['/sobre-mi']" [routerLinkActive]="['activated']">Sobre mi</a>
    </li>
    <li>
      <a [routerLink]="['/proyectos']" [routerLinkActive]="['activated']">Proyecto</a>
    </li>
    <li id="logo">
      <a href="#">CG</a>
    </li>
    <li>
      <a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['activated']">Crear proyecto</a>
    </li>
    <li>
      <a [routerLink]="['/contacto']" [routerLinkActive]="['activated']">Contacto</a>
    </li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Portfolio de Carlos &copy;
</footer>